[main]
certname = {{ inventory_hostname }}
server = {{ puppet_server_hostname }}
environment = production

[agent]
certname = {{ inventory_hostname }}
server = {{ puppet_server_hostname }}
environment = production

